:root {

    /* -----------Variables generales---------------------*/

    --borde-panatalla1: 5px solid  #007dad;
    --borde-espesor: black;
    --background-primario: #48453c;
    --color-principal: #007dad;
    --color-contenedor: radial-gradient(circle, rgba(28,54,67,1) 75%, rgba(127,128,130,1) 100%);
    --bottom: 49.5%;
    --gradiente-fondo: linear-gradient(144deg, rgba(255,255,255,1) 48%, rgba(176,215,110,1) 51%, rgba(236,246,221,1) 55%, rgba(149,202,62,1) 58%, rgba(255,255,255,1) 61%, rgba(149,202,62,1) 64%, rgba(255,255,255,1) 67%);
    --gradiente-cam:  radial-gradient(circle, rgba(217,209,222,1) 0%, rgba(210,204,204,1) 50%, rgba(250,247,244,1) 100%);
    --gradiente-carcasa: linear-gradient(233deg, rgba(28,54,67,0.8435749299719888) 0%, rgba(29,132,203,0.989233193277311) 53%, rgba(20,117,171,1) 59%);
    --gradiente-lentes: radial-gradient(circle, rgba(0,0,0,1) 8%, rgba(127,128,130,1) 100%);
    --gradiente-contentcam: linear-gradient(137deg, rgba(28,54,67,0.8435749299719888) 0%, rgba(29,132,203,0.989233193277311) 53%, rgba(20,117,171,1) 59%);
    --gradiente-ocular: radial-gradient(circle, rgba(43,46,71,1) 28%, rgba(140,148,157,1) 40%);
}



body{
    margin: 0 auto;
    padding: 0;
    background: var(--gradiente-fondo);
    background-repeat: no-repeat;
}

.contenedor {
   
    width: 800px;
    height: 800px;
    margin: 0 auto;
    position: relative;
    top:100px;
    animation: move 30s infinite linear;
}

@keyframes move {
	
	25% {
		transform: translateY(50px) translateX(0);
	}
	
	50% {
		transform: translateY(0px) translateX(50px);
	}
	
	75% {
		transform: translateY(50px) translateX(0);
	}
	
}

/* --------------Contenedores ---------------*/

.contenedor_pantalla1 {

    margin: 0 auto;
    border: var(--borde-panatalla1);
    background: var(--background-primario);
    border-radius: 32px;
    border-style: ridge;
    width: 300px;
    height: 480px;
    position: relative;
    top: 100px;
    left: 10%;
    

}

.contenedor_pantalla2 {

    margin: 0 auto;
    border: var(--borde-panatalla1);
    background: var(--gradiente-carcasa);
    border-radius: 32px;
    border-style: ridge;
    width: 280px;
    height: 480px;
    position: relative;
    top:-95.3%;
    left: -13%;
}

.contenedor__espesor {
   
    border: 3px solid  var(--background-primario);
    background: var(--borde-espesor);
    width: 290px;
    height: 470px;
    border-radius: 16px;
    position: relative;
    left: 2px;
    top:2px
}
.contenedor__vidrio {
    border: 1px solid  var(--borde-espesor);
    background: var(--gradiente-fondo);
    width: 270px;
    height: 450px;
    border-radius: 15px;
    position: relative;
    left: 8px;
    top:8px;
}
.Cam_frontal {
    border: 1px solid var(--borde-espesor);
    background:var(--borde-espesor);
    border-bottom-right-radius:20px;
    border-bottom-left-radius: 20px;
    height: 20px;
    width: 150px;
    position: relative;
    left: 10%;
    top: -4%;
}
.Cam_frontal__visor {
    border: 1px solid var(--background-primario);
    background: var(--gradiente-ocular);
    border-radius: 5px;
    width: 10px;
    height: 10px;
    position: relative;
    left: 50%;
    top: 2px;
  
}
.contenedor_vidrio_img {
    position: relative;
    left: 50%;
    top: 30%;
    filter: saturate(180%);
}

/* --------------Botones del Iphone----------------*/ 

.buttom_1 {
    border: 3px solid var(--color-principal);
    border-start-end-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: ridge;
    height: 40px;
    width: 0.5px;
    position: relative;
    left: 74%;
    top: -35%;
    
}
.buttom_2 {
    border: 4px solid var(--color-principal);
    border-start-end-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: ridge;
    height: 30px;
    width: 0.5px;
    position: relative;   
    left: var(--bottom);
    top: -45%;
    
}
.buttom_3 {
    border: 4px solid var(--color-principal);
    border-start-end-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: ridge;
    height: 50px;
    width: 0.5px;
    position: relative;   
    left: var(--bottom);
    top: -45%;
}
.buttom_4 {
    border: 4px solid var(--color-principal);
    border-start-end-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: ridge;
    height: 50px;
    width: 0.5px;
    position: relative;   
    left: var(--bottom);
    top: -45%;
    
}

.buttom_5 {
    border: 3px solid var(--color-principal);
    border-start-end-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: ridge;
    height: 70px;
    width: 0.5px;
    position: relative;
    transform: rotate(180deg);
    left: 13.5%;
    top: -75%;
}

/* -------------Camara - Iconos ------------*/

.icono {
    position: relative;
    left: 25%;
    bottom: -20%;
}
.content_cam {

    border-radius: 25px;
    border: 1px solid var(--color-principal);
    border-start-end-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
    background: var(--gradiente-contentcam);
    width: 120px;
    height: 120px;
    position: relative;
    left: 3%;
    top: 2%;
}
.cam_1, .cam_2{
    border: 3px solid var(--borde-panatalla1);
    border-style: ridge;
    background: var(--gradiente-lentes);
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    left: -20%;
    top: -8%;
}

.cam_3{
    border: 1px solid var(--color-principal);
    background: var(--gradiente-ocular);
    width: 10px;
    height: 10px;
    border-radius: 40px;
    position: relative;
    left: 35%;
    top: -90%;
}
.cam_4{
    border: 1px solid var(--color-principal);
    background:var(--gradiente-cam);
    width: 20px;
    height: 20px;
    border-radius: 40px;
    position: relative;
    left: 30%;
    top: -90%;
}
@media screen and (max-width:320px) {
    @keyframes move {
        40% {
            transform: translateY(0px) translateX(-90px);
        }
    }
}